* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Roboto", sans-serif;

}

.header-hero-section {
    background-color: #1f2937;
    /* border: 2px solid darkgoldenrod; */
    display: flex;

    padding: 0 120px 50px 120px;
    flex-direction: column;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid lawngreen; */
}

.header-links-container {
    display: flex;
    /* border: 4px solid red; */
    justify-content: space-between;
    flex: 0 0 450px;

    list-style: none;
    color: #e5e7eb;

}

.hero-section {
    /* border: 2px solid white; */
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;

}

.description-container {
justify-content: center;
align-items: start;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.hero-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-description {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 100%;
}

.description-container {
    max-width: 500px;
}

img {
    width: 100%;
    height: auto;
 
}

.logo-img {
    max-width: 160px;
    height: auto;
}

.hero-img {

    max-width: 500px;
    height: auto;
}

.features-title-container {
    padding: 20px 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid blueviolet;
}
.features-container {
    padding :40px;
        /* border: 4px solid red; */
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid brown;
}
button {
    color: #e5e7eb;
    background-color: #3882f6;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

}

button:hover {
    background-color: #3882f6;
    color: #e5e7eb
}